.wrapper_with_padding
	#doc_show
		%h1= @doc.title
		%p= simple_format(@doc.content)

		.buttons
			= link_to "Edit Atricle", edit_doc_path(@doc), class: "button"
			= link_to "Delete Article", doc_path(@doc), method: :delete, 							data: { confirm: "Are you sure?"}, class: "button"